.profile-page
	.navbar
		.signout
			margin-left 15px
	.canopy
		margin-top -20px
		height 420px
		background-image url(https://pbs.twimg.com/profile_banners/2868041297/1415534069/1500x500)
		background-size cover
		position relative
		z-index 1
		.thumbnail
			top 330px
			position relative
	.who-to-follow
		h4
			color: #66757f
			font-size: 18px;

	.stuff
		ul
			padding-left 0
			li
				color: #8899a6
				float: left
				padding-right 8px
				list-style: none
				font-size 12px
				a
					color: #8899a6

	ul.messages
		.my
			background darkblue
			color white
		.not-my
			background #eee